<! DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:security="www.springframework.org/security/tags">
<head>
  <meta charset="utf-8">
  <meta name="viewport">
  <title>Паель администратора</title>
  <link href="/style/stylea.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="icon" href="images/лого.png" type="image/x-icon">
</head>
<body>
<div class="main">
  <a class="logo" href="/admin/index"><img th:src="@{/images/лого.png}" Width="100" Height="100"/></a>
  <a class="title" id="title" href="/admin/index">Сладости для радости</a>
  <div class="vibor">
    <a class="title"  id="subtitle"  href="/admin/choice">Выбрать торт</a>
  </div>
  <div class="menu">
    <a class="text"  id="subtitle" href="/admin/panel">Админ панель</a>
  </div>
  <a class="vk" href="https://vk.com/sladosti_dlya_radosti73" target="_blank"><img th:src="@{/images/вк.png}" width=100px height=90px/></a>
</div>

<div  th:object="${user}">


  <div class="form-style-6">
    <h1>Отправить письмо</h1>
    <form action="/admin/send-message" method="post" enctype="multipart/form-data">
      <input type="email" name="email" placeholder="Адрес" th:value="${user.getEmail()}" readonly />
      <input type="text" name="subject" placeholder="Тема" />
      <textarea name="text" placeholder="Текст сообщения"></textarea>
      <input type="submit" value="Отправить" />
    </form>
  </div>



<!--  <form action="/admin/send-message" method="post" enctype="multipart/form-data">-->
<!--    <input type="text" id="email" name="email" placeholder="Адрес:" th:value="${user.getEmail()}"> <br>-->
<!--    <input type="text" id="subject" name="subject" placeholder="Тема:"> <br>-->
<!--    <textarea rows="5" cols="30" name="text" placeholder="Текст сообщения:"> </textarea>-->
<!--    <br><br>-->
<!--    <input type="submit" value="Отправить">-->
<!--  </form>-->
</div>
</body>
</html>